{% extends 'base.html' %}{% load static %}

<div>
  {% block content %} {% include "snippets/navebar.html" with user=user %}
  <section
    class="container-fluid mt-5"
    style="
      background-image: url('static/img/fisherman.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
    "
  >
    <p>Hello personal home</p>

    <div>
      <p>{{book.name}}</p>
      <p>{{book.description}}</p>
      <p>{{book.source_info}}</p>
    </div>

    {% for chapter in chapters %}
    <div>
      <li>
        <a href="{% url 'studies:book_page' book=book.id chapter=chapter.id %}"
          >{{chapter.name}}</a
        >
        |
        {% include 'studies/snippets/add_chapter_snippet.html' with chapter_selected=chapter book_id=book.id%}
        <a href="{% url 'studies:delete_chapter' chapter=chapter.id %}"
          >Delete</a
        >
      </li>
    </div>

    {% endfor %}
    <hr />
    {% include 'studies/snippets/add_chapter_snippet.html' with book_id=book.id%} 
    
    {% if notes %}
    <hr />


    <!-- list of notes -->
    {% for note in notes %}
    <div>
      <li>
        {{note.text_recto}} {{note.text_verso}}
        {% include 'studies/snippets/add_note_snippet.html' with note_selected=note chapter_id=chapter.id %}

        <a href="{% url 'studies:delete_note' note=note.id %}">Delete</a>
      </li>
    </div>
    {% endfor %} 
    {% endif %} 

    <!-- add new note -->
    {% if chapter %}
    {% include 'studies/snippets/add_note_snippet.html' with chapter_id=chapter.id %}
    {% endif %}

    <!-- pagination -->
    {% include 'studies/snippets/paginator_snippet.html' with notes=notes %}


    {% endblock content %}
  </section>
</div>
