{% extends 'base.html' %}{% load static %}
<div>
  {% block content %}
  <a href="{% url 'studies:feed_db'%}">feed db</a>

  <p>Hello personal home</p>
  <br />
  <p>all books :</p>
  {% for book in books %}
  <li>
    <a href="{% url 'studies:book_page' book=book.id%}">{{book.name}}</a> |
    <a href="{% url 'studies:delete_book' book=book.id%}">delete</a>
    {% include 'studies/snippets/add_book_snippet.html' with book_selected=book%}
  </li>

  {% endfor %} 
  
  {% include 'studies/snippets/add_book_snippet.html'%}
  <form action="{% url 'studies:personal_home' %}" method="POST">
    {% csrf_token %}
    <div>{{form_book}}</div>

    <input type="submit" value="add book" />
  </form>

  {% endblock content %}
</div>
