@font-face {
  font-family: "daniel hand";
  src: url("../font/daniel.ttf");
}

.new_font_daniel {
  font-family: "daniel hand";
  font-size: 2rem;
}

.new_font_daniel-sm {
  font-family: "daniel hand";
  font-size: 1rem;
}
.new_font_daniel-m {
  font-family: "daniel hand";
  font-size: 1.5rem;
}

.new_font_daniel-lg {
  font-family: "daniel hand";
  font-size: 3rem;
  word-wrap: break-word;
  overflow: auto;
}

.half-black {
  background-color: rgba(29, 34, 40, 0.6);
}

.img_custom1 {
  background-size: cover;
  background-repeat: no-repeat;
}
.img_custom2 {
  background-image: url("../img/windmill-5689011.png");
}

@media screen and (min-width: 1000px) {
  .img_custom1 {
    background-image: url("../img/fisherman.jpg");
  }
}

@media screen and (max-width: 1000px) {
  .img_custom1 {
    background-image: url("../img/fractal.jpg");
  }
}
