<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark new_font_daniel">
    <a class="navbar-brand new_font_daniel" href="#">∞</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'studies:personal_home' %}"
            >Perso-Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'studies:game_auto' %}">Game Auto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        {% if user.is_authenticated == False %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
