<section class="container mb">
  <nav class="navbar fixed-top navbar-expand-lg py-0 navbar-dark bg-transparent p-2">
    <a class="navbar-brand new_font_daniel-lg" href="{% url 'home' %}">∞</a>
    {% if user.is_authenticated == True %}
    <a id="button_personal_home" 
    class="navbar-brand new_font_daniel" 
    href="{% url 'studies:personal_home' %}">Home</a>
    {% endif %}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse new_font_daniel"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated == False %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Learn
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                href="{% url 'studies:game_auto' speed=40 long=10%}"
                >Level 1 (40/10)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'studies:game_auto' speed=100 long=50%}"
                >Level 2 (100/50)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'studies:game_auto' speed=200 long=100%}"
                >Level 3 (200/100)</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'studies:game_auto' speed=250 long=250%}"
                >Level 4 (250/250)</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li class="dropdown-item">Rappel : 1-5/6-10</li>
          </ul>
        </li>
        <li class="nav-item">
          <a id="button_notice_page" class="nav-link" href="{% url 'home' %}#help-section">Notice</a>
        </li>
        <li class="nav-item">
          <a id="account_page" class="nav-link" href="{% url 'account' %}">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %} {% if user.is_authenticated == True and user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </nav>
</section>
<script type="text/javascript">
  if ($(window).scrollTop() > 10 || window.innerWidth < 1000) {
    $(".navbar")
      .removeClass("navbar-dark bg-transparent")
      .addClass("bg-white navbar-light bg-light");
  } else {
    $(".navbar")
      .removeClass("navbar-light bg-light")
      .addClass("navbar-dark bg-transparent");
  }
  function listener(e) {
    e.preventDefault();
    if ($(window).scrollTop() > 10 || window.innerWidth < 1000) {
      $(".navbar")
        .removeClass("navbar-dark bg-transparent")
        .addClass("bg-white navbar-light bg-light");
    } else {
      $(".navbar")
        .removeClass("navbar-light bg-light")
        .addClass("navbar-dark bg-transparent");
    }
  }
  $(window).scroll(listener);
  $(window).resize(listener);
</script>
