{% extends 'base.html' %}{% load static %} {% block content %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-left">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold text-center">
          {% block title %}{% endblock title %}
        </h1>
        <hr class="divider my-4" />
      </div>
      <div class="col-lg-auto align-self-baseline text-white">
        <div class="col-lg-12 detail-separator">
          {% block account_body %}{% endblock account_body %}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock content %}
