{% extends 'base.html' %}
<div>
  {% block content %} {% include "snippets/navebar.html" with user=user %}
  <br />
  <div class="container-fluid mt-5 pt-5">
    <h1 class="text-center new_font_daniel-lg">---=> Login <=---</h1>
    <br />
    <br />
    <hr />
    <form method="post" class="form">
      {% csrf_token %} {% for field in login_form %}
      <p>
        {{field.label_tag}} {{field}} {% if field.help_text %}
        <small>{{field.help_text}}</small>
        {% endif %}
      </p>
      {% endfor %} {% for field in login_form %} {% for error in field.errors %}
      <p>{{error}}</p>
      {% endfor %} {% endfor %} {% if login_form.non_field_errors %}
      <div>
        <p>{{login_form.non_field_errors}}</p>
      </div>

      {% endif %}
      <button id="submit_login" type="submit" class="btn btn-outline-light">
        Log in
      </button>
    </form>
    <br />
    <hr />
    <br />
    <div class="row align-items-center d-flex">
      <a
        class="btn btn-outline-light new_font_daniel-m"
        href="{% url 'reset_password'%}"
        >Forgot your password ?</a
      >
    </div>
    <p
      class="
        navbar-brand
        align-items-center
        d-flex
        justify-content-center
        new_font_daniel-lg
      "
    >
      ∞
    </p>
  </div>
  {% endblock content %}
</div>
