{% extends 'base.html' %}
<div>
  {% block content %} {% include "snippets/navebar.html" with user=user %}
  <br />
  <div class="container-fluid mt-5 pt-5">
    <h1 class="text-center new_font_daniel-lg">Account</h1>
    <br />
    <br />
    <hr />

    <h3>Enter new password</h3>
    <p>
      Please enter your new password twice so we can verify you typed it in
      correctly.
    </p>

    <form method="post">
      {% csrf_token %} {{form}}
      <hr />
      <hr />
      <input
        type="submit"
        name="Update Password"
        class="btn btn-outline-light"
      />
    </form>
  </div>
  {% endblock content %}
</div>
