{% extends 'base.html' %}
<div>
  {% block content %} {% include "snippets/navebar.html" with user=user %}
  <br />
  <div class="container-fluid mt-5 pt-5">
    <h1 class="text-center new_font_daniel-lg">Password reset</h1>
    <br />
    <br />
    <hr />
    <p>
      Forgotten your password? Enter your email address below, and we'll email
      instructions for setting a new one.
    </p>

    <form method="post">
      {% csrf_token %} {{form}}
      <br />
      <br />
      <input type="Submit" name="Send email" class="btn btn-outline-light" />
    </form>
  </div>
  {% endblock content %}
</div>
