{% extends 'base.html' %}
<div>
  {% block content %} {% include "snippets/navebar.html" with user=user %}
  <br />
  <div class="container-fluid mt-5 pt-5">
    <h1 class="text-center new_font_daniel-lg">Account</h1>
    <br />
    <br />
    <hr />
    <h3>Password reset complete</h3>

    <p>your password has been set. You may go ahead and log in now.</p>
    <br />
    <div class="row align-items-center d-flex">
      <a class="btn btn-outline-light new_font_daniel-m" href="{% url 'login'%}"
        >Login</a
      >
    </div>

    {% endblock account_body %}
  </div>
  {% endblock content %}
</div>
