{% extends 'base.html' %}

<div>
  {% block content %} {% include "snippets/navebar.html" with user=user %}
  <div class="container-fluid vh-100 img_custom1">
    <div class="d-flex h-100 align-items-center justify-content-center">
      {% include "snippets/home_animated_title.html" %}
    </div>
  </div>

  <div class="container min-vh-100 p-3">
    <div class="row p-2">
      <div class="col-lg-6">
        <h1 class="new_font_daniel">Learning, a whole story</h1>
        <p>
           Learn ... We can learn things, lessons, languages,stories
           "anything and everything". Anyway everything that
           can enter in our brain.
        </p>
        <p>
          But who has the time and the energy to learn whatever they want with 24 hour days: / ??
        </p>
        <p>This is how I asked myself the question</p>
        <p class="new_font_daniel-sm">
          " How can you learn more and doing as little as possible? "
        </p>
        <p>
          AND after going from application to application to memorize I started to create my application..
        </p>
        <br />
        <br />
        <p class="new_font_daniel-sm">BUT !! But, yes there is a but</p>
        IF the app will help you learn:
        <li>knowledge quickly</li>
        <li>knowledge for a long time</li>
        <li>with the lowest possible effort to provide</li>
        <br />
        SHE will not do:
        <li>make connections between the elements</li>
        <li>provide the knowledge for you</li>
        <li>learn for you</li>
        <br />
        Finally, I do not recommend it for:
        <li>work on a know-how</li>
        <li>work on a know-how-to-be</li>
      </div>
      <div class="col-lg-6 min-vh-100">
        {% include "snippets/home_graph_sun.html" %}
      </div>
    </div>
  </div>
  <div class="container-fluid vw-100 vh-100 bg-danger p-3">
    <h1 class="new_font_daniel">Well and how does it work ??</h1>
    <p></p>
  </div>

  <!-- Button trigger modal -->

  {% endblock content %}
</div>
