{% extends 'base.html' %}

<div>
  {% block content %} {% include "snippets/navebar.html" with user=user %}
  <div class="container-fluid vh-100 img_custom1">
    <div class="d-flex h-100 align-items-center justify-content-center">
      {% include "snippets/home_animated_title.html" %}
    </div>
  </div>

  <div class="container min-vh-100 p-3">
    <div class="row p-2">
      <div class="col-lg-6">
        <h1 class="new_font_daniel">Learning, a whole story</h1>
        <p>
          Learn ... We can learn things, lessons, languages,stories "anything
          and everything". Anyway everything that can enter in our brain.
        </p>
        <p>
          But who has the time and the energy to learn whatever they want with
          24 hour days: / ??
        </p>
        <p>This is how I asked myself the question</p>
        <p class="new_font_daniel-sm">
          " How can you learn more and doing as little as possible? "
        </p>
        <p>
          AND after going from application to application to memorize I started
          to create my application..
        </p>
        <br />
        <br />
        <p class="new_font_daniel-sm">BUT !! But, yes there is a but</p>
        IF the app will help you to learn:
        <li>knowledge quickly</li>
        <li>knowledge for a long time</li>
        <li>with the lowest possible effort to provide</li>
        <br />
        It will not do:
        <li>make connections between the elements</li>
        <li>provide the knowledge for you</li>
        <li>learn for you</li>
        <br />
        Finally, I do not recommend it for:
        <li>work on a know-how</li>
        <li>work on a know-how-to-be</li>
      </div>
      <div class="col-lg-6 min-vh-100">
        {% include "snippets/home_graph_sun.html" %}
      </div>
    </div>
  </div>
  <div
    class="container-fluid img_custom2 pt-4"
    id="help-section"
    style="min-height: 100vh; min-width: 100vw"
  >
    <h1 class="new_font_daniel col-md-12 p-2 m-2">
      Well and how does it work ??
    </h1>
    <div class="row">
      <div class="col-lg-3">
        <p class="new_font_daniel-m">Idea</p>
        <p>
          The idea is simple, study something as many times as necessary to
          remember it.
        </p>
        <p>With a gradual spacing between 2 revisions of the same element.</p>

        List of things to know where you are:
        <ul class="rounded half-black">
          <li>Total : number of notes</li>
          <li>Todoo : number of notes recto or verso to study</li>
          <li>Lvl average : level average of all notes</li>
          <li>Today recap : number of notes studied today</li>
          <li>Month recap : number of notes studied this month</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <p class="new_font_daniel-m">Structure</p>
        <ol>
          <li>
            Book: At the first level: the book, with the main concept to study
            (example: "English" )
          </li>
          <li>
            Chapter: then X chapters,to split the book in some parts(example:
            vocabulary, grammar)
          </li>
          <li>
            Notes: and finally, X notes on both sides (example: hello/bonjour in
            the chapter "vocabulary"). You will learn in both directions recto
            -> verso and verso -> recto (or just one direction if you want)
          </li>
          <p class="rounded half-black">Book->Chapter->Notes</p>
        </ol>
      </div>
      <div class="col-lg-3">
        <p class="new_font_daniel-m">Spaced repetition</p>
        <p>
          If you know the element you go to the next level and you have to wait
          x days to learn it again
        </p>
        <p>
          But if you don't know the element then it goes back to the level 1
        </p>
        <ul class="rounded half-black">
          <li>level: 1->2 = +1 day</li>
          <li>level: 2->3 = +1 day</li>
          <li>level: 3->4 = +1 day</li>
          <li>level: 4->5 = +1 day</li>
          <li>level: 5->6 = +3 days</li>
          <li>level: 6->7 = +7 days</li>
          <li>level: 7->8 = +20 days</li>
          <li>level: 8->9 = +90 days</li>
          <li>level: 9->10 = +182j</li>
          <li>level: 10->10 = +364j</li>
        </ul>
      </div>
      <div class="col-lg-3">
        <p class="new_font_daniel-m">Study session</p>
        <p>You can run the game with 4 levels of difficulty:</p>
        <ol class="rounded half-black">
          <li>40/10 (50 notes in the session)</li>
          <li>100/50 (150 notes in the session)</li>
          <li>200/100 (300 notes in the session)</li>
          <li>250/250 (500 notes in the session)</li>
        </ol>
        <p>First number: number of notes with the level lower than 6</p>
        <p>Second number: number of notes with the level higher than 5</p>
        <p>BE CAREFUL! the game is based on:</p>
        <ol>
          <li>book order</li>
          <li>chapter order</li>
        </ol>
        exemple :
        <ul>
          <li>book 1 is studied before book 2</li>
          <li>book 1/chapter 1 is studied before book 1/chapter 2</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->

  {% endblock content %}
</div>
