<!-- Button to Open the Modal -->
{% load static %}{% if not note_selected %}

<button
  type="button"
  class="btn btn-outline-light new_font_daniel-m"
  data-bs-toggle="modal"
  data-bs-target="#noteModalAdd{{chapter_id}}"
  id="buttonModalNoteAdd{{chapter_id}}"
><img
src="{% static 'studies/img/plus-circle-outline.svg' %}"
alt="un triangle aux trois côtés égaux"
height="25px"
width="25px"
/> Add new notes</button>

<!-- Modal -->
<div
  class="modal fade"
  id="noteModalAdd{{chapter_id}}"
  tabindex="-1"
  aria-labelledby="noteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel">Add note</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'studies:specific_note' chapter=chapter_id%}"
          method="POST"
        >
          {% csrf_token %}
          <div>
            <p><label for="id_text_recto{{chapter_id}}">Text recto :</label></p>
            <p>
              <textarea
                class="form-control"
                name="text_recto"
                cols="40"
                rows="5"
                maxlength="1000"
                required
                id="id_text_recto{{chapter_id}}"
                
              ></textarea>
            </p>
          </div>
          <hr />
          <div>
            <p><label for="id_text_verso">Text verso :</label></p>
            <p>
              <textarea
                class="form-control"
                name="text_verso"
                cols="40"
                rows="5"
                maxlength="1000"
                required
                id="id_text_verso"
              ></textarea>
            </p>
          </div>
          <hr />
          <div>
            <span><label for="id_studie_recto">Studie recto :</label></span>
            <span>
              <input
                class="form-check-input"
                type="checkbox"
                name="studie_recto"
                id="id_studie_recto"
                checked
              />
            </span>
          </div>
          <hr />
          <div>
            <span><label for="id_studie_verso">Studie verso :</label></span>
            <span>
              <input class="form-check-input" type="checkbox" name="studie_verso" id="id_studie_verso" />
            </span>
          </div>
          <hr />
          <button type="submit" class="btn btn-primary">save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>

        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#noteModalAdd{{chapter_id}}").on('shown.bs.modal', function(){
        $(this).find('#id_text_recto{{chapter_id}}').focus();
    });
  });
  
  </script>



{% else %}
<button
  type="button"
  class="btn btn-outline-light"
  data-bs-toggle="modal"
  data-bs-target="#noteModal{{note_selected.id}}"
  id="buttonModalNote{{note_selected.id}}"
><img
src="{% static 'studies/img/edit-outline.svg' %}"
alt="un triangle aux trois côtés égaux"
height="25px"
width="25px" /></button>

<!-- Modal -->
<div
  class="modal fade"
  id="noteModal{{note_selected.id}}"
  tabindex="-1"
  aria-labelledby="noteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel">modify note</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'studies:specific_note' chapter=chapter_id note=note_selected.id %}"
          method="POST"
        >
          {% csrf_token %}
          <div>
            <p><label class="form-label" for="id_text_recto">Text recto :</label></p>
            <p>
              <textarea
                class="form-control"
                name="text_recto"
                cols="40"
                rows="5"
                maxlength="1000"
                required
                id="id_text_recto{{note_selected.id}}"
                autofocus
                value=""
                onfocus="this.value = this.value;"
                
              >{{note_selected.text_recto}}</textarea>
            </p>
          </div>
          <hr />
          <div>
            <p><label class="form-label" for="id_text_verso">Text verso :</label></p>
            <p>
              <textarea
                class="form-control"
                name="text_verso"
                cols="40"
                rows="5"
                maxlength="1000"
                required
                id="id_text_verso"
              >{{note_selected.text_verso}}</textarea>
            </p>
          </div>
          <hr />
          <div>
            <span><label class="form-label" for="id_studie_recto">Studie recto :</label></span>
            <span>
            {% if note_selected.studie_recto %}
            <input type="checkbox" name="studie_recto" id="id_studie_recto" checked />
              {% else %}
              <input type="checkbox" name="studie_recto" id="id_studie_recto"/>
            
            {% endif %}
              
            </span>
          </div>
          <hr />
          <div>
            <span><label class="form-label" for="id_studie_verso">Studie verso :</label></span>
            <span>
            {% if note_selected.studie_verso %}
            <input class="form-check-input" type="checkbox" name="studie_verso" id="id_studie_verso" checked />
            {% else %}
            <input class="form-check-input" type="checkbox" name="studie_verso" id="id_studie_verso"/>
            {% endif %}
            </span>
          </div>
          <div>
            <input
              type="hidden"
              name="note_id"
              id="id_note_id"
              value="{{note_selected.id}}"
            />
          </p>
        </div>
          <button type="submit" class="btn btn-primary">save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


<!-- script to solve : autofocus + boostrap modal + textarea  -->
<script type="text/javascript">
$(document).ready(function(){
  $("#noteModal{{note_selected.id}}").on('shown.bs.modal', function(){
      $(this).find('#id_text_recto{{note_selected.id}}').focus();
  });
});

</script>




{% endif %}
