<!-- Button to Open the Modal -->
{% if not book_selected %}{% load static %}
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#bookAddModal"
  id="bookAddButton"
><img
src="{% static 'studies/img/plus-circle-outline.svg' %}"
alt="un triangle aux trois côtés égaux"
height="25px"
width="25px"
/></button>

<!-- Modal -->
<div
  class="modal fade"
  id="bookAddModal"
  tabindex="-1"
  aria-labelledby="bookAddModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="bookAddModalLabel">Add Book</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body bg-dark">
        <form action="{% url 'studies:personal_home'%}" method="POST">
          {% csrf_token %}
          <div>
            <p><label class="form-label" for="id_name">Name :</label></p>
            <p>
              <input
                class="form-control"
                type="text"
                name="name"
                maxlength="255"
                required
                id="id_name"
              />
            </div>
          </p>
          <div>
            <p><label class="form-label" for="id_description">Description :</label></p>
            <p>
              <textarea
                class="form-control"
                name="description"
                cols="40"
                rows="10"
                maxlength="1000"
                id="id_description"
              ></textarea>
            </div>
          </p>
          <div>
            <p><label class="form-label" for="id_source_info">Source info :</label></p>
            <p>
              <textarea
                class="form-control"
                name="source_info"
                cols="40"
                rows="10"
                maxlength="1000"
                id="id_source_info"
              ></textarea>
            </div>
          </p>
          <button type="submit" class="btn btn-primary">save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var myModal = document.getElementById("bookAddModal");
  var myInput = document.getElementById("id_name");

  myModal.addEventListener("shown.bs.modal", function () {
    myInput.focus();
  });
</script>

{% else %}
<button
  type="button"
  class="btn btn-outline-light"
  data-bs-toggle="modal"
  data-bs-target="#bookUpdateModal{{book_selected.id}}"
  id="updateBook{{book_selected.book.id}}"
>
<img
  src="{% static 'studies/img/edit-outline.svg' %}"
  alt="un triangle aux trois côtés égaux"
  height="25px"
  width="25px" />
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="bookUpdateModal{{book_selected.id}}"
  tabindex="-1"
  aria-labelledby="bookUpdateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="bookUpdateModalLabel">Modify book</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'studies:personal_home' book=book.book.id%}"
          method="POST"
        >
          {% csrf_token %}
          <div>
            <p><label class="form-label" for="id_name">Name :</label></p>
            <p>
              <input
                type="text"
                class="form-control"
                name="name"
                maxlength="255"
                required
                id="id_name{{book_selected.id}}"
                value="{{book_selected.book.name}}"
                autofocus
                onfocus="this.value = this.value;"
              />
            </div>
          </p>
          <div>
            <p><label class="form-label" for="id_description">Description :</label></p>
            <p>
              <textarea
                name="description"
                class="form-control"
                cols="40"
                rows="10"
                maxlength="1000"
                id="id_description"
              >{{book_selected.book.description}}</textarea>
            </div>
          </p>
          <div>
            <p><label class="form-label" for="id_source_info">Source info :</label></p>
            <p>
              <textarea
                name="source_info"
                class="form-control"
                cols="40"
                rows="10"
                maxlength="1000"
                id="id_source_info"
              >{{book_selected.book.source_info}}</textarea>
            </p>
          </div>
          <div>
            <p><label class="form-label"  for="id_order_book">Order book :</label></p>
            <p>
              <input
                type="number"
                class="form-control"
                name="order_book"
                min="1"
                max="30"
                required
                id="id_order_book"
                value="{{book_selected.order_book}}"
              />
            </p>
          </div>
          <div>
              <input
                type="hidden"
                name="book_id"
                id="id_book_id"
                value="{{book_selected.book.id}}"
              />
            </p>
          </div>
          <button type="submit" class="btn btn-primary">save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var myModal{{book_selected.id}} = document.getElementById('bookUpdateModal{{book_selected.id}}')
  var myInput{{book_selected.id}} = document.getElementById('id_name{{book_selected.id}}')

  myModal{{book_selected.id}}.addEventListener('shown.bs.modal', function () {
    myInput{{book_selected.id}}.focus()
  })
</script>

{% endif %}
