<!-- Button to Open the Modal -->
{% if not note_selected %}
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#noteModalAdd{{chapter_id}}"
  id="buttonModalNoteAdd{{chapter_id}}"
>
  add notes
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="noteModalAdd{{chapter_id}}"
  tabindex="-1"
  aria-labelledby="noteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel">Add Chapter</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'studies:specific_note' chapter=chapter_id%}"
          method="POST"
        >
          {% csrf_token %}
          <tr>
            <th><label for="id_text_recto">Text recto :</label></th>
            <td>
              <textarea
                name="text_recto"
                cols="40"
                rows="10"
                maxlength="1000"
                required
                id="id_text_recto{{chapter_id}}"
              ></textarea>
            </td>
          </tr>
          <tr>
            <th><label for="id_text_verso">Text verso :</label></th>
            <td>
              <textarea
                name="text_verso"
                cols="40"
                rows="10"
                maxlength="1000"
                required
                id="id_text_verso"
              ></textarea>
            </td>
          </tr>
          <tr>
            <th><label for="id_studie_recto">Studie recto :</label></th>
            <td>
              <input
                type="checkbox"
                name="studie_recto"
                id="id_studie_recto"
                checked
              />
            </td>
          </tr>
          <tr>
            <th><label for="id_studie_verso">Studie verso :</label></th>
            <td>
              <input type="checkbox" name="studie_verso" id="id_studie_verso" />
            </td>
          </tr>
          <button type="submit" class="btn btn-primary">save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var myModal = document.getElementById("noteModal{{chapter_id}}");
  var myInput = document.getElementById("id_text_recto{{chapter_id}}");

  myModal.addEventListener("shown.bs.modal", function () {
    myInput.focus();
  });
</script>

{% else %}
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#noteModal{{note_selected.id}}"
  id="buttonModalNote{{note_selected.id}}"
>
  modify
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="noteModal{{note_selected.id}}"
  tabindex="-1"
  aria-labelledby="noteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel">modify Chapter</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'studies:specific_note' chapter=chapter_id note=note_selected.id %}"
          method="POST"
        >
          {% csrf_token %}
          <tr>
            <th><label for="id_text_recto">Text recto :</label></th>
            <td>
              <textarea
                name="text_recto"
                cols="40"
                rows="10"
                maxlength="1000"
                required
                id="id_text_recto{{note_selected.id}}"
                autofocus
                onfocus="this.value = this.value;"
              >{{note_selected.text_recto}}</textarea>
            </td>
          </tr>
          <tr>
            <th><label for="id_text_verso">Text verso :</label></th>
            <td>
              <textarea
                name="text_verso"
                cols="40"
                rows="10"
                maxlength="1000"
                required
                id="id_text_verso"
              >{{note_selected.text_verso}}</textarea>
            </td>
          </tr>
          <tr>
            <th><label for="id_studie_recto">Studie recto :</label></th>
            <td>
            {% if note_selected.studie_recto %}
            <input type="checkbox" name="studie_recto" id="id_studie_recto" checked />
              {% else %}
              <input type="checkbox" name="studie_recto" id="id_studie_recto"/>
            
            {% endif %}
              
            </td>
          </tr>
          <tr>
            <th><label for="id_studie_verso">Studie verso :</label></th>
            <td>
            {% if note_selected.studie_verso %}
            <input type="checkbox" name="studie_verso" id="id_studie_verso" checked />
            {% else %}
            <input type="checkbox" name="studie_verso" id="id_studie_verso"/>
            {% endif %}
            </td>
          </tr>
          <button type="submit" class="btn btn-primary">save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endif %}
